---
---

@import "{{ site.theme }}";

// Fix the title not fitting on the page
h1.title {
  font-size: 48px;
}

// Fix description not being in the middle
p {
  .tagline {
     text-align: center;
     padding: 10px 20px 0;
  }
}

// Fix inner not being in the middle
.inner {
  display: inline-block;
  a {
    text-align: center; 
  }
}

// Fix footer
.owner {
  .left: {
    float: left; 
    margin: 20px 0 0 0;
  }
  .middle {
    text-align: center; 
  }
  .right {
    float: right;
    margin: -80px 0 0 0;
  }
}
